body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    user-select: none; /* Отключаем выделение текста на всей странице */
    -webkit-touch-callout: none; /* Отключаем вызов контекстного меню при длительном нажатии */
    -webkit-user-select: none; /* Отключаем выделение текста на WebKit-браузерах */
    -moz-user-select: none; /* Отключаем выделение текста на Firefox */
    -ms-user-select: none; /* Отключаем выделение текста на Internet Explorer */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title-box {
    background-color: #8a2be2;
    border: 5px solid #5a0c9e;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #fff;
    font-family: 'Freckle Face', cursive;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.score-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#score {
    font-size: 28px;
    margin: 0;
    color: #ff5722;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.peacock {
    cursor: pointer;
    width: 100px; /* Ширина павлина */
    height: auto; /* Высота автоматически по соотношению */
    margin: 20px auto;
    transition: transform 0.2s; /* Переход для эффекта нажатия */
    user-select: none; /* Отключаем выделение текста */
    -webkit-touch-callout: none; /* Отключаем вызов контекстного меню */
}

.peacock img {
    pointer-events: none; /* Отключаем все события для изображения */
}
